<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=http;AccountName=osdemo;AccountKey=xPi3Q84lRBF5WTVj288D9Lhmm+dV/3H5Gr0U5t0g8lt6vnOSIIQ361ZpAiFuv0BAwck0bVg90NXrnlvm3jFzag==;" />
  </appSettings>
</configuration>